Source: ros-jazzy-nmea-hardware-interface
Section: misc
Priority: optional
Maintainer: kenta <kenntabsk@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-lint <!nocheck>, libboost-all-dev, libgtk-3-dev, pkg-config, pluginlib-dev, ros-jazzy-controller-interface, ros-jazzy-geographic-msgs, ros-jazzy-hardware-interface, ros-jazzy-nmea-msgs, ros-jazzy-ouxt-lint-common <!nocheck>, ros-jazzy-quaternion-operation, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-realtime-tools, ros-jazzy-ros2-control, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-nmea-hardware-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libgtk-3-dev, pkg-config, pluginlib-dev, ros-jazzy-controller-interface, ros-jazzy-geographic-msgs, ros-jazzy-hardware-interface, ros-jazzy-nmea-msgs, ros-jazzy-quaternion-operation, ros-jazzy-rclcpp, ros-jazzy-rclcpp-components, ros-jazzy-realtime-tools, ros-jazzy-ros2-control, ros-jazzy-rviz2, ros-jazzy-ros-workspace
Description: ros2 hardware interface for nmea_gps
